.project
.cproject
.pydevproject
CMakeFiles
msg_gen
srv_gen
CMakeCache.txt
cmake_install.cmake
build
*.pyc
bin/
CPackConfig.cmake
CPackSourceConfig.cmake
doxygen.cfg
*.bag
moc_*
~*
*.cfgc
docs/
lib/
.settings
doc/
cfg/cpp/
src/ueye_cam/
